{% extends "::vueMere.html.twig" %}

{% block menu %}
  {% include "prostagesPropositionsBundle:Propositions:menuRetour.html.twig" %}
{% endblock %}

{% block body %}
  <h4>{{ titre }}</h4></br>
  <form method="post" novalidate="novalidate" {{ form_enctype(form )}}
    {{ form_widget(form) }}
  </form>
  {% if log.etat %}
    <div class="alert alert-success">
      <strong>Ajouté !</strong> {{log.texte}}.
    </div>
  {% elseif log.etat is not null %}
    <div class="alert alert-danger">
      <strong>Erreur !</strong> {{log.texte}}.
    </div>
  {% endif %}
{% endblock %}
