{% extends "::vueMere.html.twig" %}

{% block menu %}
  {% include accueil ? "prostagesPropositionsBundle:Propositions:menuAccueil.html.twig" : "prostagesPropositionsBundle:Propositions:menuRetour.html.twig" %}
{% endblock %}

{% block body %}
  <h4>Liste des stages</h4></br>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>nom</th>
        <th>entreprise</th>
        <th>formation</th>
      </tr>
    </thead>
    <tbody>
      {% for stage in stages %}
        <tr  onclick="window.document.location='{{ path('prostages_propositions_stage', { 'id': stage.id }) }}';">
          <td>{{ stage.nom }}</td>
          <td>{{ stage.entreprise.getNom }}</td>
          <td>
              {% for formation in stage.formations %}
                {{ formation.getNom }}
                {{ not loop.last ? '-'}}
              {% endfor %}
          </td>

        </tr>
      {% endfor%}
    </tbody>
  </table>
{% endblock %}
